@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #8f8e8e;
    border-radius: 25px;
    margin-left: 1px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.ant-progress-text{
    color: white !important;
}