@tailwind base;
@tailwind components;
@tailwind utilities;

textarea{
    padding: 5px 5px !important;
    border-radius : 15px;
    border: none;
}

#Register_password{ 
    background-color: transparent;
}
.inp {
    border:none !important;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
 }
 [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25px;
    margin-left: 1px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0307fd;
    border-radius: 2px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.ant-progress-text{
    color: white !important;
}
.ant-table-thead .ant-table-cell {
    background-color: #4343f0 !important;
    color: white !important;
}

